<div class="container">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <h2 class="card-header primary-color lighten-1 white-text">{{title}}</h2>
                <div class="card-body">
                    <h5 class="card-subtitle mb-2 text-muted">{{author}}</h5>
                    <h4 id="description">{{description}}</h4>
                    <a class="btn btn-primary btn-sm" id="link" href={{link}}>Check out the Article</a>
                    <a class="btn btn-primary btn-sm" id="saveArticle" data-id={{_id}}>Save Article</a>
                </div>
            </div>
        </div>
    </div>
</div>